table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: rgb(160, 233, 185);
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: rgb(195, 250, 195);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination .active {
    background-color: rgb(195, 250, 195);
    color: white;
    cursor: default;
  }

  @media (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    td {
      border: none;
      border-bottom: 1px solid #ddd;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  
    td:nth-of-type(1):before {
      content: "Name";
    }
  
    td:nth-of-type(2):before {
      content: "Region";
    }
    td:nth-of-type(3):before {
      content: "Area";

    }}